<div class="main">
  <div class="main-photo"></div>
  <div class="main-com">
    <!-- <div class="raglage"></div> -->
    <h1>- SIGN IN -</h1>
    <form action="">
      <div class="input1 in">
        <div class="tii">USERNAME</div>
        <input type="text" />
        <div class="comm"></div>
      </div>
      <div class="input1 in">
        <div class="tii">EMAIL</div>
        <input type="text" />
        <div class="comm"></div>
      </div>
      <div class="input2 in">
        <div class="tii">PASSWROD</div>
        <input type="password" />
        <div class="comm"></div>
      </div>
      <div class="input2 in">
        <div class="tii">CONFIRMATION PASSWROD</div>
        <input type="password" />
        <div class="comm"></div>
      </div>
      <div class="agree">
        <div class="box_cheack">
          <div class="inin">
            <input type="checkbox" />
          </div>
          <div class="comment">
            I'm agree with the rules.<a href="">see the rules </a>
          </div>
        </div>
        <div class="vide"></div>
        <a href="/login" class="mp">I have an account</a>
      </div>
      <div class="buttuns">
        <button class="blogin">LogIn</button>
        <button class="bcanel">Cancel</button>
      </div>
    </form>
  </div>
</div>
