<footer class="footerr">
    <div class="all_text">
      <div class="text">
        <label class="create">C</label>2023 by Melek Ben Jemiaa & Karim
        Mansouri , Future Shop Website
      </div>
    </div>
    <div class="icon">
      <a class="icon1" href="www.facebook.com">
        <!-- here facebook white icon      -->
      </a>
      <a class="icon2" href="www.instagram.com">
        <!-- here instagram white icon      -->
      </a>
      <a class="icon3" href="www.gmail.com">
        <!-- here instagram white icon      -->
      </a>
    </div>
  </footer>
