<div class="ZZZ">
  <div class="box1 co"><label> //FUTURE</label> textile and style</div>
  <div class="box2 co">
    <div class="bb5">
      <div class="a1">>Fashion: Fabrics of the Future</div>
      <div class="a2">
        Division d'un texte de prose, d'un discours, d'un chapitre qui apparaît
        par un alinéa initial. Dans les renvois, le paragraphe est noté par le
        signe. Dans les renvois, le paragraphe est noté par le signe.
      </div>
    </div>
  </div>
  <div class="box3 co">
    <div class="bb5">
      <div class="a1">>Fashion: Fabrics of the Future</div>
      <div class="a2">
        Division d'un texte de prose, d'un discours, d'un chapitre qui apparaît
        par un alinéa initial. Dans les renvois, le paragraphe est noté par le
        signe. Dans les renvois, le paragraphe est noté par le signe.
      </div>
    </div>
  </div>
  <div class="box4 co">
    <div class="bb5">
      <div class="a1">>Fashion: Fabrics of of of the Future</div>
      <div class="a2">
        Division d'un texte de prose, d'un discours, d'un chapitre qui apparaît
        par un alinéa initial. Dans les renvois, le paragraphe est noté par le
        signe. Dans les renvois, le paragraphe est noté par le signe.
      </div>
    </div>
  </div>
</div>

<footer class="footerr">
  <div class="all_text">
    <div class="text">
      <label class="create">C</label>2023 by Melek Ben Jemiaa & Karim Mansouri ,
      Future Shop Website
    </div>
  </div>
  <div class="icon">
    <a class="icon1" href="www.facebook.com">
      <!-- here facebook white icon      -->
    </a>
    <a class="icon2" href="www.instagram.com">
      <!-- here instagram white icon      -->
    </a>
    <a class="icon3" href="www.gmail.com">
      <!-- here instagram white icon      -->
    </a>
  </div>
</footer>
