<div class="other_pro">
  <div class="titleee">Showing all {{ len }} results</div>
  <div class="thebb">
    <div class="btn-group">
      <div class="fil">Filtered:</div>
      <button
        class="btn btn-secondary btn-sm dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Small button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
      <button
        class="btn btn-secondary btn-sm dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Small button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
      <button
        class="btn btn-secondary btn-sm dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Small button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
      <button
        class="btn btn-secondary btn-sm dropdown-toggle bdef"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Small button
      </button>
      <ul class="dropdown-menu AAdef">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="the_cartes">
  <div class="lacartee" *ngFor="let item of wwww; index as i">
    <div class="lacartee-orgignal">
      <div class="la-pic"></div>
      <div class="text">
        <a class="ttitte" href="facebook.com">DOCKER</a>
        <div class="tyypppe">CAP</div>
        <div class="reff">REF: PR5047POO1</div>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <nav aria-label="Page navigation example" class="pagggg">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
          <!-- this is for the << -->
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <!-- this is for the next -->
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
