<div class="theAll">
  <div class="lalist">
    <div class="titles">
      <div class="Proo oo">Product</div>
      <div class="Prii oo">Price</div>
      <div class="Qua oo">Quantity</div>
      <div class="Tott oo">Total</div>
    </div>
    <div class="products">
      <div class="one_product">
        <div class="cadre_product CC">
          <div class="o1 vv">
            <button class="croche all">X</button>
            <div class="the_pic all"></div>
            <div class="the_title all">Future green cap</div>
          </div>
          <div class="o2 vv">
            <label for="" class="laabels">Price: </label>

            58.000dt
          </div>
          <div class="o3 vv">
            <div class="o31 vv1">
              <label for="" class="laabels">Quantity: </label>
              1
            </div>
            <div class="o32 vv1">
              <label for="" class="laabels">Total: </label>
              58.000dt
            </div>
          </div>
        </div>
        <button class="upp CC">Update</button>
      </div>
    </div>
    <div class="products">
      <div class="one_product">
        <div class="cadre_product CC">
          <div class="o1 vv">
            <button class="croche all">X</button>
            <div class="the_pic all"></div>
            <div class="the_title all">Future green cap</div>
          </div>
          <div class="o2 vv">
            <label for="" class="laabels">Price: </label>

            58.000dt
          </div>
          <div class="o3 vv">
            <div class="o31 vv1">
              <label for="" class="laabels">Quantity: </label>
              1
            </div>
            <div class="o32 vv1">
              <label for="" class="laabels">Total: </label>
              58.000dt
            </div>
          </div>
        </div>
        <button class="upp CC">Update</button>
      </div>
    </div>
    <div class="products">
      <div class="one_product">
        <div class="cadre_product CC">
          <div class="o1 vv">
            <button class="croche all">X</button>
            <div class="the_pic all"></div>
            <div class="the_title all">Future green cap</div>
          </div>
          <div class="o2 vv">
            <label for="" class="laabels">Price: </label>

            58.000dt
          </div>
          <div class="o3 vv">
            <div class="o31 vv1">
              <label for="" class="laabels">Quantity: </label>
              1
            </div>
            <div class="o32 vv1">
              <label for="" class="laabels">Total: </label>
              58.000dt
            </div>
          </div>
        </div>
        <button class="upp CC">Update</button>
      </div>
    </div>
    <div class="products">
      <div class="one_product">
        <div class="cadre_product CC">
          <div class="o1 vv">
            <button class="croche all">X</button>
            <div class="the_pic all"></div>
            <div class="the_title all">Future green cap</div>
          </div>
          <div class="o2 vv">
            <label for="" class="laabels">Price: </label>

            58.000dt
          </div>
          <div class="o3 vv">
            <div class="o31 vv1">
              <label for="" class="laabels">Quantity: </label>
              1
            </div>
            <div class="o32 vv1">
              <label for="" class="laabels">Total: </label>
              58.000dt
            </div>
          </div>
        </div>
        <button class="upp CC">Update</button>
      </div>
    </div>
  </div>
  <div class="teh2">
    <div class="ticket">
      <div class="total">Cart Totals</div>
      <div class="total2">
        <div>Total</div>
        <div class="proceF">56.600dt</div>
      </div>
      <button>BUY</button>
      <div class="PS">
        PS: the delivery part is not calculated it will be added when we call
        you and will depend on your position "the average is 7.500dt"
      </div>
    </div>
    <div class="themap">Stores Locations</div>
    <div class="loca">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102348.1645804409!2d10.163667866949565!3d36.71343051844286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3706a8626633%3A0xf009d6f9d18128b8!2sEl%20Mourouj!5e0!3m2!1sen!2stn!4v1682530288725!5m2!1sen!2stn"
        width="100%"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
