<div class="main">
  <div class="main-photo"></div>
  <div class="main-com">
    <div class="raglage"></div>
    <h1>- LOGIN -</h1>
    <form action="">
      <div class="input1 in">
        <div class="tii">EMAIL</div>
        <input type="text" />
        <div class="comm"></div>
      </div>
      <div class="input2 in">
        <div class="tii">PASSWROD</div>
        <input type="text" />
        <div class="comm"></div>
      </div>
      <div class="agree">
        <div class="box_cheack">
          <div class="inin">
            <input type="checkbox" />
          </div>
          <div class="comment">
            I'm agree with the rules.<a href="">see the rules </a>
          </div>
        </div>
        <div class="vide"></div>
        <a href="" class="mp">Create account</a>
      </div>
      <div class="buttuns">
        <button class="blogin">LogIn</button>
        <button class="bcanel">Cancel</button>
      </div>
    </form>
    <div class="logwith">
      <div class="like_title">-LOGIN WITH-</div>
      <button class="facebookb bbb">
        <div class="the-svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            width="120%"
            height="120%"
          >
            <linearGradient
              id="Ld6sqrtcxMyckEl6xeDdMa"
              x1="9.993"
              x2="40.615"
              y1="9.993"
              y2="40.615"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#2aa4f4" />
              <stop offset="1" stop-color="#007ad9" />
            </linearGradient>
            <path
              fill="url(#Ld6sqrtcxMyckEl6xeDdMa)"
              d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z"
            />
            <path
              fill="#fff"
              d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z"
            />
          </svg>
        </div>
        <div class="ktibaaa">facebook</div>
      </button>
      <button class="gmailb bbb">
        <div class="the-svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="120%"
            height="120%"
            viewBox="0 0 48 48"
          >
            <path
              fill="#4caf50"
              d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"
            ></path>
            <path
              fill="#1e88e5"
              d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"
            ></path>
            <polygon
              fill="#e53935"
              points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"
            ></polygon>
            <path
              fill="#c62828"
              d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"
            ></path>
            <path
              fill="#fbc02d"
              d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"
            ></path>
          </svg>
        </div>
        <div class="ktibaaa">Gmail</div>
      </button>
      <div class="lavide"></div>
    </div>
  </div>
</div>
