<div class="wrapper" id="contact">
  <div class="blurb">
    <h2><strong>Sand</strong> us an Email</h2>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </p>
  </div>
  <form>
    <input type="email" placeholder="Your Email" />
    <input type="text" placeholder="Subject" />
    <textarea placeholder="Message"></textarea>
    <!-- <input type="submit" value="Send Message" /> -->
    <button class="env">Send Message</button>
  </form>
</div>
