<!-- <center style="margin-top: 200px"> -->
<div class="item-pr" [ngClass]="stylee.img_cadre">
  <div class="front-image">
    <!-- for the front image -->
  </div>
  <!-- <div class="back-image">
         for the front image 
      </div> -->
</div>
<!-- </center> -->
<div class="title-create-product">
  <h1 [ngClass]="stylee.title" class="title-title-create-product">
    <label *ngIf="screen_width">PRODUCT TITLE //</label>BLACK FUTURE HOODIE .
  </h1>
  <h3 [ngClass]="stylee.des" class="des-title-create-product">
    your hoodie will be identical to virtual created by you //TRY IT
  </h3>
  <button [ngClass]="stylee.bot" (click)="alertshow()" class="order-button">
    ORDER NOW
  </button>
</div>
<app-extra-pro></app-extra-pro>
<app-extra-pro></app-extra-pro>
<app-extra-pro></app-extra-pro>
<div [ngClass]="stylraaa" class="alerta">
  <div class="text">purchase confirmation</div>
  <form action="">
    <div class="inputs ss">
      <input
        id="ticketNum"
        type="number"
        name="ticketNum"
        list="defaultNumbers"
        placeholder="Number"
      />
      <datalist id="defaultNumbers">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
      </datalist>
      <select name="cars" id="cars">
        <option value="volvo">Size</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="bottuns ss">
      <button (click)="BBcansel()" class="can bb">Cancel</button>
      <button (click)="BBadd()" class="con bb">Add</button>
    </div>
  </form>
</div>
