<nav class="navNav" *ngIf="web_width" [ngClass]="style.nav_web1" [ngClass]="style.nav_web2">
    <div class="cadre1"></div>
    <div class="TheLink">
      <a routerLink="/main/home" class="aa">HOME</a>
      <a routerLink="/main/shop" class="aa">SHOP</a>
      <a routerLink="/main/contact" class="aa">CONTACT</a>
      <a routerLink="/main/about" class="aa">ABOUT</a>
    </div>
    <div class="cadre">
      <div class="panier"></div>
      <div class="notification">
        <div>
          <!-- cadre de nombre de produit -->
        </div>
        <div></div>
      </div>
    </div>
  </nav>
  <nav class="nav-mo" *ngIf="!web_width">
    <div class="b1">
      <button class="link_bott">
        <!-- for the three - -->
      </button>
      <div class="logo_im">
        <div class="title">
          <div>FUTURE</div>
        </div>
        <div class="logo-title">
          <div class="img-logo-1"></div>
          <div></div>
          <!-- for the icoon after the future -->
        </div>
      </div>
    </div>
    <div class="b2">
      <!-- for the mock-up of shop -->
    </div>
  </nav>