.navNav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    border-bottom: 4px solid #006400;
    display: flex;
    
}
.scrol_nav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    animation-duration: 3s;
    height: 60px;
}
.scrol_nav1{
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    height: 45px;
    height: 50px;
}
.cadre1{
    /* border: 2px solid #006400; */
    /* width: 5%; */
    width: 3%;
    min-width: 40px;
    height: 40px;    
    margin: auto;
    background-image: url("../imgg/logo-alien.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cadre{
    /* border: 2px solid #006400; */
    width: 5%;
    height: 40px;    
    margin: auto;
    display: flex;
    
}
.panier{
    margin: auto;
    width: 70%;
    min-width:40px;
    height: 111%;
    background-image: url("../imgg/logo-sac.svg");
    background-repeat:no-repeat ;
    background-size:cover ;
    /* border: #006400 2px solid; */
}
.notification{
    margin: auto;
    width: 30%;
    height: 100%;    
    /* border: #006400 2px solid; */
    display: flex;
    flex-direction: column
    
}
.notification div{
    margin: auto;
    width: 100%;
    height: 50%;    
    /* border: #006400 2px solid; */

}
.TheLink{
    /* border: 2px solid #006400; */
    /* font-family: Impact; */
    width: 80%;
    margin: auto;
    height: 40px;
    display: flex;

}
.aa{
    font-weight: bolder;
    color: #006400;
    font-size: 23px;
    text-decoration:none;
    margin: auto;
}
.nav-mo{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #006400;
    display: flex;
}

.b1{
    width: 50%;
    height: 60px; 
    margin: auto;
    /* border: 2px solid #006400; */
    display: flex;
}
.title{
    color: #205420;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
    /* border: 2px solid #006400; */
}
.title,div{
    font-family: "Gill Sans", sans-serif;
    margin: auto;
}
.logo-title{
    width: 17%;
    height: 40px;
    display: flex;
    flex-direction: column
}
.logo-title div{
    width: 100%;
    /* height: 100%; */
    margin: auto;
}
.img-logo-1{
    border: 2px solid #205420;
    height: 65%;
    background-image:url('../imgg/logo-alien.svg') ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;

}
.b2{
    margin: auto;
    width: 30%;
    height: 60px; 
    /* border: 2px solid #006400; */
    
}
.link_bott{
    background-color: transparent;
    border: 0px;
    margin: auto;
    border: 2px solid #006400;
    height: 45px;
    width: 20%;
}
.logo_im{
    display: flex;
    margin: auto;
    /* border: 2px solid #006400; */
    width: 90%;
    height: 50px;
}