<nav class="navNav" *ngIf="web_width" [ngClass]="style.nav_web1">
  <a class="cadre1" href="/"></a>
  <div class="TheLink">
    <a routerLink="/home" class="aa">HOME</a>
    <a routerLink="/shop" class="aa">SHOP</a>
    <a routerLink="/contact" class="aa">CONTACT</a>
    <a routerLink="/about" class="aa">EXTRA PRODUCT</a>
  </div>
  <div class="cadre">
    <a class="panier" routerLink="/ticket">
      <div class="order_number">
        <label for="">9</label>
      </div>
    </a>
  </div>
</nav>
<nav class="nav-mo" *ngIf="!web_width" [ngClass]="style.nav_web1">
  <div class="links" [ngClass]="style.nav_links">
    <div class="back-ground-opacity" [ngClass]="style.nav_links"></div>
    <div class="home1">
      <a (click)="clearli()" routerLink="/home" class="linkH">Home</a>
    </div>
    <div class="shop1">
      <a (click)="clearli()" routerLink="/shop" class="shopshop11">
        <div class="shopshop">Shop</div>
        <div class="add">COTUMIZED</div>
        <div class="add">HOODIES</div>
        <div class="add">T-SHIRT</div>
        <div class="add">EXTRA</div>
      </a>
    </div>
    <div class="contact1">
      <a (click)="clearli()" routerLink="/contact" class="linkC">Contact</a>
    </div>
    <div class="about1">
      <a (click)="clearli()" routerLink="/about" class="linkA">EXTRA PRODUCT</a>
    </div>
  </div>
  <div class="b1">
    <button class="link_bott" (click)="vsibilityBot()">
      <div [ngClass]="style.bar1"></div>
      <div [ngClass]="style.bar2"></div>
      <div [ngClass]="style.bar3"></div>
    </button>
    <div class="logo_im">
      <div class="title">
        <div>FUTURE</div>
      </div>
      <div class="logo-title">
        <div class="img-logo-1"></div>
        <div></div>
        <!-- for the icoon after the future -->
      </div>
    </div>
  </div>
  <div class="b12"></div>
  <div class="b2">
    <div class="cadre">
      <div class="panier">
        <div class="order_number">
          <label for="">9</label>
        </div>
      </div>
    </div>
  </div>
</nav>
