.navNav {
  z-index: 3;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  border-bottom: 4px solid #006400;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  transition: 0.2s;
  display: flex;
}
.scrol_nav1 {
  visibility: hidden;
  transform: translateY(-60px);
  /* position: fixed; Set the navbar to fixed position */
  /* animation-duration: 0.6s; */
  /* top: 0; */
  /* height: 45px; */
  /* height: 50px; */
}
.cadre1 {
  /* border: 2px solid #006400; */
  /* width: 5%; */
  /* width: 3%; */
  width: 40px;
  height: 40px;
  margin: auto;
  background-image: url("../imgg/logo-alien.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.cadre {
  /* border: 2px solid #006400; */
  width: 5%;
  height: 40px;
  margin: auto;
  display: flex;
}
.panier {
  margin: auto;
  width: 70%;
  min-width: 40px;
  height: 111%;
  max-width: 70px;
  background-image: url("../imgg/logo-sac.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* border: #006400 2px solid; */
}

.order_number {
  margin-right: 2px;
  width: 50%;
  height: 45%;
  border: red 2px solid;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: flex;
}
.order_number label {
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  color: aliceblue;
}
.TheLink {
  /* border: 2px solid #006400; */
  /* font-family: Impact; */
  width: 80%;
  margin: auto;
  height: 40px;
  display: flex;
}
.aa {
  font-weight: bolder;
  color: #006400;
  font-size: 23px;
  text-decoration: none;
  margin: auto;
}
.nav-mo {
  z-index: 3;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  transition: 0.2s;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #006400;
  display: flex;
  /* background-color: aliceblue; */
  background-color: transparent;
  background-color: rgba(240, 248, 255, 0.774);
}
.nav-moa0 {
  /* background-color: transparent; */
}

.b1 {
  width: 50%;
  height: 60px;
  margin: auto;
  /* border: 2px solid #006400; */
  display: flex;
}
.b12 {
  margin: auto;
  width: 20%;
}
.title {
  color: #205420;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  margin: auto;
  width: 80%;
  text-decoration: none;
  height: 40px;
  /* border: 2px solid #006400; */
}
.title,
div {
  font-family: "Gill Sans", sans-serif;
  margin: auto;
}
.logo-title {
  width: 17%;
  height: 40px;
  display: flex;
  flex-direction: column;
}
.logo-title div {
  width: 100%;
  /* height: 100%; */
  margin: auto;
}
.img-logo-1 {
  border: 2px solid #205420;
  height: 65%;
  max-width: 150px;
  background-image: url("../imgg/logo-alien.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
}
.b2 {
  margin: auto;
  display: flex;
  width: 20%;
  height: 50px;
  /* border: 2px solid #006400; */
}
.link_bott {
  background-color: transparent;
  border: 0px;
  margin: auto;
  /* border: 2px solid #006400; */
  height: 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
  transition-duration: 0.2s;
}
.link_bott div {
  width: 100%;
  height: 15%;
  /* margin: auto; */
  background-color: #205420;
}
.link_bott .la1 {
  width: 33%;
  margin-left: -33%;
}
.link_bott .la2 {
  width: 66%;
  margin-left: -16.5%;
}
.link_bott .la3 {
  width: 99%;
}
.logo_im {
  display: flex;
  margin: auto;
  /* border: 2px solid #006400; */
  width: 90%;
  height: 50px;
}
.links {
  position: absolute;
  top: 70px;
  width: 100%;
  left: -100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: 0.2s;
  /* transform: translateX(-120px); */

  /* visibility: hidden; */
}
.viClass {
  transform: translateX(100%);
  visibility: visible;
  /* position: relative;     */
  /* top: 70px; */
}
.back-ground-opacity {
  position: fixed;
  left: -100%;
  transition: 0.2s;
  top: 0px;
  width: 100%;
  height: 100%;
  /* background-color: #5a6434; */
  background-color: #13140e;
  /* box-shadow: 5px 10px #5a6434; */
  /* border-radius: 20px; */
  opacity: 0.5;
  z-index: 3;
}

.home1 {
  /* z-index: 1; */
  /* position: fixed; */
  height: 15%;
  width: 100%;
  /* border: #ffffff 2px solid; */
  display: flex;
  z-index: 4;
}
.shop1 {
  height: 50%;
  width: 100%;
  /* border: #a6b1a6 2px solid; */
  z-index: 4;
  display: flex;
}
.contact1 {
  height: 15%;
  width: 100%;
  z-index: 4;
  /* border: #959995 2px solid; */
  display: flex;
}
.about1 {
  height: 15%;
  width: 100%;
  /* border: #9aa09a 2px solid; */
  display: flex;
  z-index: 4;
}
.linkC,
.linkH,
.linkA {
  opacity: 1 !important;
  z-index: 4;
  margin: auto;
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}
.shopshop11 {
  text-decoration: none;
  margin: auto;
  display: flex;
  z-index: 4;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.shopshop {
  opacity: 2;
  margin: auto;
  z-index: 4;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100%;

  text-decoration: none;
  font-weight: bold;
  font-size: 35px;

  /* border-bottom: 2px solid #bec9be; */
}
.add {
  z-index: 4;
  text-decoration: none;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 12%;
  font-size: 13px;
  color: aliceblue;
}
