<nav class="navNav" *ngIf="web_width" [ngClass]="style.nav_web1" [ngClass]="style.nav_web2">
    <div class="cadre"></div>
    <div class="TheLink">
      <a routerLink="/home" class="aa">HOME</a>
      <a routerLink="/shop" class="aa">SHOP</a>
      <a routerLink="/contact" class="aa">CONTACT</a>
      <a routerLink="/about" class="aa">ABOUT</a>
    </div>
    <div class="cadre"></div>
  </nav>
  <nav class="nav-mo" *ngIf="!web_width">
    <div class="b1">
      <button class="link_bott">
        <!-- for the three - -->
      </button>
      <div class="logo_im">
        <div class="title">
          <div>FUTURE</div>
        </div>
        <div class="logo-title">
          <!-- for the icoon after the future -->
        </div>
      </div>
    </div>
    <div class="b2">
      <!-- for the mock-up of shop -->
    </div>
  </nav>