<div class="scoller">
    <!-- *ngFor="let k of rrange" -->
    <button class="item-pr"  *ngFor="let k of rrange">
        <div class="front-image">
          <!-- for the front image -->
        </div>
        <!-- <div class="back-image">
          for the front image 
        </div> -->
        <div class="data-pr">
          <div class="title-pr">
            <div>BLACK FUTURE HOODIE .</div>
          </div>
          <div class="description-pr">
            <div class="des">FROM FUTURE TO THE FUTURE</div>
            <div>// STAY TUNED</div>
          </div>
        </div>
      </button>
      <div class="pagination">
        <nav aria-label="Page navigation example" class="pagggg">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link"  aria-label="Previous"> <!-- this is for the << -->
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item">
              <a class="page-link"  aria-label="Next"> <!-- this is for the next -->
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
</div>
