<div class="scoller">
    <!-- *ngFor="let k of rrange" -->
    <button class="item-pr"  *ngFor="let k of rrange">
        <div class="front-image">
          <!-- for the front image -->
        </div>
        <div class="back-image">
          <!-- for the front image -->
        </div>
        <div class="data-pr">
          <div class="title-pr">
            <div>BLACK FUTURE HOODIE .</div>
          </div>
          <div class="description-pr">
            <div class="des">FROM FUTURE TO THE FUTURE</div>
            <div>// STAY TUNED</div>
          </div>
        </div>
      </button>
</div>
