<div class="main">
  <div class="containt1">
    <div class="containt1_1">
      <div class="kor1_1"></div>
      <div class="vidddd1"></div>
      <div class="kor1_2">
        <div class="title1_1">
          <div class="AA1">SAVE UP TO 50% OFF</div>
          <!-- <div class="AA2">FUTURE OFFER</div> -->
        </div>
        <div class="dess1_1">FUTURE OFFER</div>
        <div class="vide1_1"></div>
        <button class="button1_1">
          <div class="text">
            <div class="ktiba">SHOP NOW</div>
          </div>
          <div class="svgitem">
            <svg
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 24 24"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <path d="M9,18l7-6L9,6V18z" />
              <rect class="st0" width="24" height="24" />
              <rect class="st0" width="24" height="24" />
            </svg>
          </div>
          <div class="vide_b"></div>
        </button>
      </div>
    </div>
    <div class="containt1_2">
      <div class="kor2_1">
        <div class="title1_1">
          <div class="AA1">SAVE UP TO 50% OFF</div>
          <!-- <div class="AA2">FUTURE OFFER</div> -->
        </div>
        <div class="dess1_1">FUTURE OFFER</div>
        <div class="vide1_1"></div>
        <button class="button1_1">
          <div class="text">
            <div class="ktiba">SHOP NOW</div>
          </div>
          <div class="svgitem">
            <svg
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 24 24"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <path d="M9,18l7-6L9,6V18z" />
              <rect class="st0" width="24" height="24" />
              <rect class="st0" width="24" height="24" />
            </svg>
          </div>
          <div class="vide_b" style="width: 20%"></div>
        </button>
      </div>
      <div class="vidddd1"></div>
      <div class="kor2_2"></div>
      <div class="vidddd"></div>
    </div>
  </div>
  <div class="lalalala" *ngIf="style_acc.exist"></div>
  <div class="containt2" *ngIf="style_acc.exist">
    <div class="containt2_1">
      <div class="korr1_1">
        <!-- here a photo  -->
      </div>
      <div class="korr1_2">
        <div class="title11">STUNNING MODERN DOCKERS</div>
        <button class="button1_1">
          <div class="text">
            <div class="ktiba looo">SHOP NOW</div>
            <!-- <div class="svgitem d0d0 d1d1d1d"> -->
            <svg
              class="svgsvg"
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 24 24"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <path d="M9,18l7-6L9,6V18z" />
              <rect class="st0" width="24" height="24" />
              <rect class="st0" width="24" height="24" />
            </svg>
            <!-- </div> -->
          </div>
          <div class="vide_b" style="width: 70%"></div>
        </button>
      </div>
    </div>
    <div class="containt2_2">
      <div class="korr1_2">
        <div class="title11">STUNNING MODERN NEW BALANCE</div>
        <button class="button1_1">
          <div class="text">
            <div class="ktiba looo">SHOP NOW</div>
            <!-- <div class="svgitem d0d0 d1d1d1d"> -->
            <svg
              class="svgsvg"
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 24 24"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <path d="M9,18l7-6L9,6V18z" />
              <rect class="st0" width="24" height="24" />
              <rect class="st0" width="24" height="24" />
            </svg>
            <!-- </div> -->
          </div>
          <div class="vide_b" style="width: 70%"></div>
        </button>
      </div>

      <div class="korr1_1 CC2">
        <!-- here a photo -->
      </div>
    </div>
    <div class="containt2_3">
      <div class="containt2_3_1">
        <div class="cadre">
          <nav>
            <div class="number">50%</div>
            <div class="disc">DISCOUNT</div>
            <div class="FFFAAA">FUTURE COLLECTION</div>
            <button>
              <div>DISCOVER</div>
            </button>
            <div class="lavida"></div>
          </nav>
        </div>
      </div>
      <div class="space_con"></div>
      <div class="containt2_3_2">
        <div class="centre">
          <div class="titleee">TRANDY OUTFIT</div>
          <button>MOVE ON</button>
        </div>
      </div>
    </div>
  </div>
</div>
