<div class="first-img">
    <div class="space">
        <!-- the background of this div in the home cover -->
    </div>
    <div class="cadre_button">
        <button class="button-shop">
            <div class="icon_button"></div>
            <label class="labell">SHOP</label>
        </button>
    </div>
</div>
<div class="description-cadre">
    <div class="text1">
        <p> 
            the first paragraphe
        </p>
    </div>
    <div class="mockup-cadre">
        <div class="mockup-photo">
            <!-- mock-up photo -->
        </div>
        <div class="mockup-title"><label>Future Package</label></div>
    </div>
    <div class="text1 text2">
        <p>
            the second paragraphe
        </p>
    </div>
</div>
