body {
  margin: 0px 0px 0px 0px;
  /* background-color: rgba(17, 184, 17, 0.18); */
}
.navlogo {
  width: 100%;
  height: 75px;
  /* border: green 2px solid; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  transition: 0.2s;
  background-color: rgba(0 0 0 / 0%);
  display: flex;
}
.scrol_nav1 {
  visibility: hidden;
  transform: translateY(-60px);
  /* position: fixed; Set the navbar to fixed position */
  /* animation-duration: 0.6s; */
  /* top: 0; */
  /* height: 45px; */
  /* height: 50px; */
}
.navlogo div {
  margin: auto;
  width: 10%;
  min-width: 150px;
  height: 100%;
  /*border: green 2px solid;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlogo div label {
  /* background-image: url("./pic/logo-alien-modif.png"); */
  min-width: 40px;
  height: 80%;
  margin: auto;
  background-image: url("../imgg/logo-alien.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  /* height: 75%; */
  /* border: solid black 2px; */
}
.hero {
  /* background-color: rgb(0 0 0 / 14%); */
  /* background-color: rgba(17, 184, 17, 0.18); */
  background-color: rgba(33, 122, 10, 0.336);
  /* background-color: rgba(84, 84, 84, 0.14); */

  width: 100%;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  /* border: green 2px solid; */
}
#img {
  background-image: url("./pic/main_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20%;
  /* min-width: 300px; */
  height: 100%;
  /* background-color: black; */
  margin-left: 5%;
}
#script {
  text-align: right;
  margin-left: 5%;
}
#date {
  font-weight: 600;
  font-size: 16px;
  margin-block-start: -10px;
  margin-block-end: -10px;
}
#title {
  font-weight: 100;
  font-size: 56px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
#season {
  font-weight: 800;
  font-size: 24px;
  margin-block-start: -5px;
}
#buttons {
  width: 100%;
  height: 50px;
  /* margin-left: 0px; */
  display: flex;
  /* border: 2px solid rgb(0, 0, 0); */
}
.spaace {
  width: 1%;
  margin: auto;
}
#buttons button {
  margin: auto;
  width: 45%;
  height: 75%;
  border-radius: 4px;
}
#sign {
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  width: 45%;
  height: 75%;
  background-color: transparent;
  border-radius: 4px;
}
#home {
  border: none;
  background-color: white;
}
#home:hover {
  background-color: rgb(181, 180, 180);
}
#home:active {
  background-color: transparent;
  border: black 2px solid;
}
#sign:active {
  background-color: white;
  border: none;
}

.reglageicon {
  height: 220px;
  width: 100%;
}
.reglageicon2 {
  width: 100%;
  height: 240px;
  /* border: black solid 2px; */
}
.main {
  /* margin: auto; */
  width: 85%;
  min-width: 400px;
  height: 650px;
  /* border: 2px solid blueviolet; */
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.containt1 {
  width: 40%;
  min-width: 300px;
  height: 100%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: space-between;
}
.containt1_1 {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 48%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.kor1_1 {
  background-image: url("../../assets/the_pic/exemple1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;

  width: 40%;
  height: 100%;
  margin: auto;
  /* border: 2px solid black; */
  display: flex;
}
.title1_1 {
  width: 100%;
  height: 40%;
  margin: auto;
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
}
.AA1 {
  margin: auto;
  height: 90%;
  text-align: left;
  width: 100%;
  /* color: rgb(58, 58, 58); */

  font-weight: bold;
  font-size: 38px;
  font-family: "Gill Sans", sans-serif;
}
.AA2 {
  width: 100%;
  height: 10%;
  margin: auto;
  margin-top: -15px;
  /* border: 2px solid black; */
  font-weight: bold;
  color: rgb(113, 113, 113);
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
}
.dess1_1 {
  text-align: left;
  width: 100%;
  height: 10%;
  margin: auto;
  /* border: 2px solid black; */
  font-weight: bold;
  color: rgb(113, 113, 113);
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
}
.vide1_1 {
  width: 100%;
  height: 20%;
  margin: auto;
  /* border: 2px solid black; */
}
.button1_1 {
  /* margin: auto; */
  display: flex;
  width: 100%;
  /* text-align: left; */
  height: 10%;
  margin: auto;
  margin-left: -8px;
  /* border: 2px solid black; */
  background-color: transparent;
  border: none;
}
.text {
  /* border: 2px solid black; */
  /* text-align: left; */
  width: 60%;
  height: 100%;
  min-width: 100px;
  margin: auto;
  display: flex;
  /* text-align: center; */
}
.ktiba {
  height: 58%;
  width: 100%;
  margin: auto;
  /* color: black; */
  /* text-align: left; */
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.looo {
  text-align: left;
  width: 100%;
}
.d1d1d1d {
  width: 100%;
  height: 200%;
}
.svgsvg {
  width: 40%;
  height: 120%;
}
.vide_b {
  margin: auto;
  width: 30%;
  height: 100%;
}
.svgitem {
  width: 20%;
  height: 100%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.svgitem svg {
  height: 100%;
  margin: auto;
}

.kor1_2 {
  width: 41%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  /* border: 2px solid black; */
}

.containt1_2 {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 48%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.kor2_1 {
  width: 41%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}
.vidddd {
  margin: auto;
  width: 15%;
  height: 100%;
}
.vidddd1 {
  margin: auto;
  width: 20%;
  height: 100%;
}
.kor2_2 {
  background-image: url("../../assets/the_pic/second_backg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  width: 30%;
  height: 100%;
  margin: auto;
  /* border: 2px solid black; */
}
.containt2 {
  width: 55%;
  height: 100%;
  min-width: 690px;

  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.containt2_1 {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 31%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.korr1_1 {
  background-image: url("../../assets/the_pic/dockers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;

  width: 45%;
  height: 100%;
  margin: auto;
  /* border: 2px solid black; */
}
.korr1_2 {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}
.title11 {
  margin: auto;
  width: 100%;
  height: 30%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: x-large;
  text-align: left;
  font-family: "Gill Sans", sans-serif;
}
.d0d0 {
  text-align: left;
}
.containt2_2 {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 31%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.containt2_3 {
  /* background-color: rgb(224, 224, 224); */
  width: 100%;
  height: 31%;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
}
.containt2_3_1 {
  width: 48%;
  height: 100%;
  margin: auto;
  /* border: 2px solid black; */
  background-color: rgb(104, 121, 99);
  display: flex;
}
.containt2_3_1 .cadre {
  display: flex;
  width: 90%;
  margin: auto;
  height: 85%;
  border: 2px solid white;
}
.containt2_3_1 .cadre center {
  height: 55%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.containt2_3_1 .cadre center div {
  margin: auto;
  color: aliceblue;
}
.containt2_3_1 .cadre center .number {
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}
.containt2_3_1 .cadre center .disc {
  font-family: "Gill Sans", sans-serif;

  font-weight: bold;
  font-size: 28px;
  text-align: center;
}
.containt2_3_1 .cadre center .FFFAAA {
  font-family: "Gill Sans", sans-serif;
  /* font-weight: bold; */
  font-size: 14px;
  text-align: center;
}
.containt2_3_1 .cadre center button {
  width: 60%;
  margin: auto;
  border: 2px solid white;
  background-color: white;
  color: rgb(104, 121, 99);
  text-align: center;
  border-radius: 2px;
  display: flex;
}
.containt2_3_1 .cadre center button:hover {
  /* color:  rgb(104, 121, 99); */
  background-color: rgb(219, 219, 219);
  border: 2px solid rgb(219, 219, 219);
}
/* .containt2_3_1 .cadre center button div:hover{
  color:  rgb(104, 121, 99);
  
} */
.containt2_3_1 .cadre center button div {
  font-family: "Gill Sans", sans-serif;
  color: rgb(104, 121, 99);
  font-weight: bold;
  font-size: 15px;
  margin: auto;
}
.space_con {
  border: none;
  margin: auto;
  width: 4%;
  height: 100%;
}
.containt2_3_2 {
  background-image: url("../../assets/the_pic/sans_modif.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  width: 48%;
  height: 100%;
  margin: auto;
  display: flex;
  border: 2px solid black;
}
.centre {
  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.centre div {
  margin: auto;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 17px;
  text-align: center;
}
.CC2 {
  background-image: url("../../assets/the_pic/naw_balance.png");
  /* background-image: url('./the_pic/air_froce.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
}
.titleee {
  color: aliceblue;
  color: rgb(134, 187, 142);
}
.centre button {
  /* color: aliceblue; */
  /* background-color: beigess; */
  margin: auto;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  border: 0px;
  color: rgb(43, 102, 52);
  background-color: white;
  width: 50%;
}
