<!-- <nav class="navlogo" [ngClass]="style.nav_web1">
  <div>
    <label for=""></label>
  </div>
</nav> -->
<div class="hero">
  <div id="script">
    <p id="date">26 feb 2022 //new collection</p>
    <p id="title">Welcome to</p>
    <p id="season">FUTURE BRAND</p>
    <div id="buttons">
      <div class="spaace"></div>
      <button id="home" routerLink="/home">HOME</button>
      <button id="sign" (click)="gotosignin()">sign in</button>
    </div>
  </div>
  <div id="img"></div>
</div>
<!-- <app-random-item></app-random-item> -->
<!-- <app-give-mail></app-give-mail> -->
<!-- <app-footer></app-footer> -->
