<button class="article">
    <div class="cadre">
        <div class="cadre1">
            <div class="fergha"></div>
            <div class="m3abya"></div>
        </div>
        <div class="img-content">
            <!-- here the image of the product -->
        </div>
        <div class="cadre1">
            <div class="fergha"></div>
            <div class="m3abya"></div>
        </div>

    </div>
    <div class="title-des">
        <div class="title">FUTURE CAP // 30.000            
        </div>
        <div class="des">your t-shirt will be identical to virtuel version created by you//TRY IT</div>
    </div>
</button>
